In [1]:
import pandas as pd
import numpy as np

In [7]:
label_df=pd.read_csv("C:/Users/abdel/LIMES-1.7.4/limes-core/src/main/resources/datasets/Abt-Buy/abt_buy_perfectMapping.csv")
label_df.head()

label_df["concat"]=label_df["idAbt"].astype(str)+label_df["idBuy"].astype(str)
#print(label_df.head())
match_labels_list=label_df["concat"].tolist()
label_df

      idAbt      idBuy          concat
0     38477   10011646   3847710011646
1     38475   10140760   3847510140760
2     33053   10221960   3305310221960
3     27248   10246269   2724810246269
4     25262   10315184   2526210315184
...     ...        ...             ...
1092  30593  204860316  30593204860316
1093  28059  205592435  28059205592435
1094  28225  205592439  28225205592439
1095  31176  205844279  31176205844279
1096  27778  205844282  27778205844282

[1097 rows x 3 columns]

In [5]:
Dragon_match=pd.read_csv("matched (1).txt", sep='\t', header=None)
Dragon_review=pd.read_csv("reviewme (1).txt", sep='\t', header=None)
Dragon_match[0] = Dragon_match[0].str.replace(r'\D', '')
Dragon_match[1] = Dragon_match[1].str.replace(r'\D', '')
Dragon_review[0] = Dragon_review[0].str.replace(r'\D', '')
Dragon_review[1] = Dragon_review[1].str.replace(r'\D', '')
#df
#Dragon_match.head()
#Dragon_review.head()
Dragon_total=Dragon_match.append(Dragon_review, ignore_index=True)
#Dragon_total.head()
Dragon_total.columns= ['source','target', 'similarity_value']
#Dragon_total.head()
Dragon_total = Dragon_total.sort_values(['similarity_value'], ascending=False)
Dragon_total=Dragon_total.reset_index(drop=True)
Dragon_total=Dragon_total.drop_duplicates(subset=['source'], keep='first')
Dragon_total=Dragon_total.reset_index(drop=True)
Dragon_total.head()
Dragon_total["concat"]=Dragon_total["source"].astype(str)+Dragon_total["target"].astype(str)

match_dragon_list=Dragon_total["concat"].tolist()
len(match_dragon_list)

572

In [10]:
true_positive=0
false_positive=0
for i in match_dragon_list:
    if i in match_labels_list:
        true_positive+= 1
    else:
        false_positive += 1

In [15]:
print(true_positive)
print(false_positive)
print(false_negative)

428
144
669

In [14]:
false_negative=0
for i in match_labels_list:
    if i not in match_dragon_list:
        false_negative+=1

In [16]:
true_positive/(true_positive+0.5*(false_positive+ false_negative))

0.5128819652486519